@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");

:root {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: clamp(10px, 1.5vw, 15px);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main);
  background-color: var(--sec);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main: rgb(239, 241, 243);
  --sec: rgb(35, 48, 60);
  --accent: rgb(243, 181, 74);

  --shadecolor: rgba(26, 26, 26, 0.25);

  /* Special Button style */

  --sort-maincolor: rgb(136, 74, 58);
  --sort-compcolor: rgb(127, 141, 144);
  --sort-seccolor: rgb(237, 208, 173);
  --sort-shadecolor: rgba(26, 26, 26, 0.25);

  --electionmap-button: rgb(72, 61, 85);
  --electionmap-button2: rgb(65, 56, 75);
  --electionmap-button3: rgb(52, 44, 60);

  --EduAlly-button: rgb(0, 82, 62);
  --EduAlly-button2: rgb(3, 92, 70);
  --EduAlly-button3: rgb(2, 74, 56);
}

@media (prefers-color-scheme: light) {
  :root {
    --main: rgb(35, 48, 60);
    --sec: rgb(239, 241, 243);
    --accent: rgb(243, 181, 74);
  }
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 10px);
  display: flex;
  place-items: top;
}

.container {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 7.5rem auto;
  width: 100vw;
  height: 100vh;
  align-self: center;
  border-top: solid 5px var(--accent);
  border-bottom: solid 5px var(--accent);
}

.title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  height: 3.5rem;
  place-content: center;
  padding: 0.75rem 1rem 1.25rem 1rem;
  margin: 1rem;
  box-shadow: inset 0px 0px 0px 3px var(--main);
  border-radius: 30px 0 30px 0;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  height: 5.5rem;
  border-bottom: 3px dashed var(--main);
  margin-inline: 1rem;
}

.nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 1rem;
  flex-grow: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  width: 80%;
  min-width: 300px;
  justify-self: center;
}

.content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 1rem;
  height: auto;
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.linkdesc {
  border: dotted 3px var(--accent);
  width: 50%;
  padding-inline: 20px;
  padding-top: 10px;
  margin-block: 20px;
}

@media (max-width: 768px) {
  body {
    height: 135vw;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    padding-bottom: 20px;
  }

  .title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .header {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .content {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .nav {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-inline: 1rem;
  }

  .linkdesc {
    width: 100%;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

hr {
  background-color: var(--accent);
  width: 100%;
  height: 3px;
  border: none;
}

a {
  width: 100%;
}

p {
  font-size: 1.25rem;
}

button#theme-toggle {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: inset 0px 0px 0px 3px var(--main);
  font-family: "Urbanist", Arial, sans-serif;
  width: 150px;
  height: 3rem;
  transition: 0.1s;
  font-size: 1.25rem;
  font-weight: 500;
}

button#theme-toggle:hover {
  background-color: var(--main);
  box-shadow: inset 0px 0px 0px 3px var(--accent);
  font-family: "Urbanist", Arial, sans-serif;
  color: var(--sec);
  transition: 0.1s;
  cursor: pointer;
}

button#theme-toggle:active {
  background-color: var(--accent);
}

button.electionmap {
  background-color: none;
  background: linear-gradient(
    to bottom,
    var(--electionmap-button),
    var(--electionmap-button2)
  );
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25),
    0px 1px 1px rgba(255, 255, 255, 0.1) inset;
  border: 0;
  border-radius: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  transition: 0.1s;
  cursor: pointer;
  -webkit-text-fill-color: rgb(255, 255, 255);
  text-shadow: none;
  width: 100%;
  height: 4rem;
}

button.electionmap:hover {
  background: linear-gradient(
    to bottom,
    var(--electionmap-button),
    var(--electionmap-button3)
  );
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25) inset,
    0px 1px 1px rgba(255, 255, 255, 0.1);
  transform: translateY(2px);
  transition: 0.1s;
  -webkit-text-fill-color: rgb(255, 255, 255);
  text-shadow: none;
}

button.electionmap:active {
  background: linear-gradient(
    to bottom,
    var(--electionmap-button2),
    var(--electionmap-button3)
  );
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25) inset,
    0px 1px 1px rgba(255, 255, 255, 0.1);
  transition: 0.1s;
  -webkit-text-fill-color: rgb(255, 255, 255);
  text-shadow: none;
}

button.EduAlly {
  background: linear-gradient(
    to bottom,
    var(--EduAlly-button2),
    var(--EduAlly-button),
    var(--EduAlly-button3)
  );
  border: 0;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  -webkit-text-fill-color: rgb(255, 255, 255);
  text-shadow: none;
  border-radius: 25px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25),
    inset 0px 1px 1px rgba(255, 255, 255, 0.15);
  transition: 0.1s;
  width: 100%;
  height: 4rem;
}

button.EduAlly:hover {
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--EduAlly-button2),
    var(--EduAlly-button)
  );
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25),
    inset 0px 1px 1px rgba(255, 255, 255, 0.15);
  -webkit-text-fill-color: rgb(255, 255, 255);
  text-shadow: none;
}

button.EduAlly:active {
  transition: 0.1s;
  transform: translateY(1px);
  background: linear-gradient(
    to bottom,
    var(--EduAlly-button),
    var(--EduAlly-button3)
  );
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25),
    0px 1px 1px rgba(255, 255, 255, 0.15);
  -webkit-text-fill-color: rgb(255, 255, 255);
  text-shadow: none;
}

button.Sort {
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--sort-compcolor);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  font-family: "Sanchez", Arial, sans-serif;
  color: var(--sort-seccolor);
  width: 100%;
  height: 4rem;
}

button.Sort:hover {
  cursor: pointer;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  text-shadow: 0 3px 0 var(--sort-seccolor);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3) inset;
}

button.Sort:active {
  cursor: pointer;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  text-shadow: 0 3px 0 var(--sort-seccolor);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6) inset;
}
