/* General Flex & Grid Formatting */

body {
    background-color: rgb(28, 28, 77);
    color: antiquewhite;
    font-family: "Prompt", Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.box {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    padding: 15px 25px 15px 25px;
    overflow: auto;
}

.top-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.bottom-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.bottom-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: transparent;
    border: 3px dotted antiquewhite;
    box-shadow: none;
    padding-top: 0px;
}

/* General Text Formatting */

h1,
h2 {
    margin: 0;
}

hr {
    border: 0;
    border-top: 3px dotted antiquewhite;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li ul {
    padding-left: 20px;
}

a {
    color: antiquewhite;
}

/* Specific Formatting */

.gitlink {
    text-align: center;
    padding: 15px 35%;
    margin: 10px 0px 15px 0px;
}

/* Buttons */

button {
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: rgb(28, 28, 77);
    border-radius: 50px;
    padding: 15px 50px;
    box-shadow:
    0px 5px 5px rgba(0, 0, 0, 0.15);
}

button:hover {
    transition: 0.5s;
    cursor: pointer;
    box-shadow:
    0px 5px 10px rgba(0, 0, 0, 0.3) inset;
}

button:active {
    cursor: pointer;
    box-shadow:
    0px 5px 10px rgba(0, 0, 0, 0.6) inset;
}

/* Layout Responsive */

@media screen and (max-width: 960px) {
    body {
        align-items: flex-start;
        padding: 20px;
        box-sizing: border-box;
    }

    .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        margin: 0;
        padding: 0;
    }

    .box {
        width: 100%;
        box-sizing: border-box;
    }

    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right {
        grid-column: auto;
        grid-row: auto;
    }
}